{% extends "account/base.html" %}

{% load i18n %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mprsite/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'mprsite/css/sitestyle.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'mprsite/css/pre.css' %}" />
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,400italic'>

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
<div class="form">
<p>{% trans "This account is inactive." %}</p>
</div>
{% endblock %}
