{% extends "account/base.html" %}

{% load i18n %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mprsite/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'mprsite/css/sitestyle.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'mprsite/css/pre.css' %}" />
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,400italic'>

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    

    <div class="form">
    <h2>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>
    <p></p>
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action=".">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="action" value="Change password">Change Password</button>
            </form>

        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
        
    {% endif %}
    </div>
{% endblock %}
