{% extends "account/base.html" %}

{% load i18n %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mprsite/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'mprsite/css/sitestyle.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'mprsite/css/pre.css' %}" />
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,400italic'>

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}


  <div class="form">
    <h2>Create An Account</h2>
    <p></p>
    <form class="signup" id="signup_form" method="POST" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="primaryAction" type="submit">Sign Up</button>
      <p class="message">Already have an account? <a href="{{login_url}}">Sign in</a></p>
    </form>

  </div>

{% endblock %}
