{% extends "account/base.html" %}

{% load i18n %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mprsite/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'mprsite/css/sitestyle.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'mprsite/css/pre.css' %}" />
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,400italic'>

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

	  <div class="form">
	  	<h2>Change Password</h2>
	  	<p></p>
	    <form class="password_change" method="POST" action="{% url 'account_reset_password' %}">
	      {% csrf_token %}
	      {{ form.as_p }}
	      <button class="primaryAction" type="submit">Change Password</button>

	    </form>

	  </div>

{% endblock %}
